h1{
	text-align:center;
}

select{
	display:block;
	margin:10px auto;
	width:80px;
	text-align:center;
}

#wrapper{
	width:320px;
	height:320px;
	margin:15px auto;
}

#wrapper div{
	width:50px;
	height:50px;			
	margin:2px;
	padding:0;
	background-color: #CCC;
	display:inline-block;
}