
* {
	/* CSS reset */
	padding:0;
	margin:0;
}

h1 {
	text-align: center;
	margin: 15px;
}

#wrapper {
	width: 380px;
	margin: 30px auto;
	padding: 40px;
	background-color: #EEE;
	border-radius: 20px;
	overflow: auto;
}

#comandi {
	float: left;  /* Non visualizzato nel rendering della pagina */
	width: 130px;
	text-align: center;
}

#comandi > button {
	width: 100px;
	height: 40px;
	background-color: #AFA;
	display: inline-block; /* DEFAULT */
	box-shadow:3px 3px #888;
	margin: 5px;
	border-radius: 10px;
}

#stati {
	float: right;
	width: 180px;
	background-color: #FFC;
	border-radius: 6px;
}

#stati > div:nth-of-type(1) > div {
	display: inline-block;
	width: 140px;
	height: 36px;
	line-height: 36px;
	padding: 5px;
}

#stati > div:nth-of-type(1) > div > div {
	float: right;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #AAA;
	box-shadow:3px 3px #888;
}

#stati div.led {
	width: 90px;
	height: 42px;
	background-color: #111;
	margin: 15px 0 15px 15px;
	float: left;
}

#stati div.led > div {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #AAA;
	margin: 3px;
	float: left;
}

#stati div.cntCicli {
	font-size: 20pt;
	float: right;
	margin-right: 20px;
	margin-top: 17px;
}
