
* {
	/* CSS reset */
	padding:0;
	margin:0;
}

html, body, #wrapper {
	height: 100%;
}

h1 {
	text-align: center;
}

#wrapper {
	width: 40%;
	margin: 15px 30%;
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ffa;
}
