* {
	padding:0;
	margin:0;
}

#wrapper{
	width: 801px;
	height:581px;
	margin:20px auto;
	overflow:auto;				
	/* display:flex;
	   flex-wrap:wrap;
	*/
}

.cella{
   width:20px;
   height:20px;
   float:left;			   
}
