h1{
	text-align: center;
}

table{
	margin:0 auto;
}

img{
	width: 102px;
	height:105px;
	background: #666;
	border:1px solid black;
}

#divRisultato{
	text-align:center;
	font-size:14pt;
	margin-top:15px;
}
