
* {
	/* CSS reset */
	padding:0;
	margin:0;
}

#wrapper {
	width: 400px;
	margin: auto;
}

p {
	width:400px;
	font-family:Verdana, Arial;
	color:#555;
	font-size:12pt;
	letter-spacing:-1px;
	word-spacing:-1px;
	margin:10px 15px;
	line-height:auto;
	text-align:center;
	font-style:italic;
}

div {
	width:400px;
	font-family:Verdana, Arial;
	color:#555;
	font-size:12pt;
	letter-spacing:-1px;
	word-spacing:-1px;
	margin:10px 15px;
	line-height:auto;
	text-align:center;
	font-style:italic;
}

.titolo {
	font-size:24pt;
	color:#F00;
	font-weight:bold;
	font-style:none;
	background-color:#CCC;
	font-style: normal;
}

#sottotitolo {
	font-size:18pt;
	color:#0F0;
	font-weight:bold;
	border:1px solid black;
	padding:15px 10px;
	background-color:#FF9;
	width:380px;
}

.text {
	border:2px dashed black;
	padding:20px 10px;
	color:#00F;
	height:100px;
	letter-spacing:-1px;
	word-spacing:-2px;
	overflow:auto;
	width:380px;
}

.bottom {
	width:200px;
	height:40px;
	margin-left:100px;
	background-color:#CCC;
	border:1px solid #999;
	border-left-width:4px;	
}

.bottom a {
	text-decoration:none;
	color:#558;
}

.bottom:hover {
	background-color:#AAA;
	border-left-color:#565;
	text-decoration:underline;
}

#fondo {
	text-align: left;
}
