
* {
	/* CSS reset */
	padding:0;
	margin:0;
}

html, body, #wrapper {
	height: 100%;
}

h1 {
	text-align: center;
	margin: 30px;
}

#wrapper {
	width: 60%;
	margin: 20px auto;
	border: 1px solid #ccc;
}

#wrapper div {
	width: 300px;
	height: 200px;
	border: 1px solid #ccc;
	margin: 20px;
}

#wrapper div:nth-of-type(1) {
	background-image: linear-gradient(to bottom, #fff 30%, #00f 90%);
}

#wrapper div:nth-of-type(2) {
	background-image: linear-gradient(to bottom right, #fff 0%, #df15aa 35%, #aacfef 100%);
}

#wrapper div:nth-of-type(3) {
	background-image: linear-gradient(to right, red, orange,  yellow, green, blue, indigo, violet);
	width: 800px;
	opacity: 0.5;
}

#wrapper div:nth-of-type(4) {
	background-image: radial-gradient(circle at 50% 25%, #FFFFFF 0%, #00f 50%, #0ae 100%);
}

#wrapper div:nth-of-type(5) {
	background-image: radial-gradient(circle at 50% 25%, #FFFFFF 0%, #0ae 100%);
}
